body{

background:linear-gradient(135deg,#141E30,#243B55);
color:white;
font-family:Arial;
text-align:center;

}

.title{

margin-top:20px;
letter-spacing:3px;

}

.container{

display:flex;
justify-content:center;
gap:30px;
margin-top:40px;

}

video{

width:640px;
border-radius:10px;
border:3px solid cyan;
box-shadow:0 0 20px cyan;

}

.info{

background:rgba(0,0,0,0.6);
padding:20px;
border-radius:10px;
width:220px;
box-shadow:0 0 10px cyan;

}

.info h3{

margin-top:0;

}

#result{

font-size:22px;
color:cyan;

}

#confidence{

font-size:18px;

}